---
---

@import "{{ site.theme }}";

body {
  --bs-link-color: #00ccca;
  --bs-link-hover-color: #0b8a89;
  --bs-nav-link-hover-color: #0b8a89;
  a {
    color: var(--bs-link-color);
    &:hover {
      color: var(--bs-nav-link-hover-color);
    }
  }
}

header {
  text-align: center;
  padding: 20px 0;

  h1 img {
    display: block;
    width: 320px;
    margin: 0 auto;
  }
}

#content-wrapper {
  max-width: 620px;
  margin: 0 auto;
  h2 {
    color: var(--bs-gray);
    margin: 1em 0;
    &:first-child {
      margin-top: 0;
    }
  }
  .video {
    background: #f0f0f0;
  }
}

footer {
  padding: 20px 0;
  .nav {
    max-width: 640px;
    margin: 0 auto;
    font-size: 0.9em;
  }
  .copyright {
    margin-top: 1em;
    text-align: center;
    font-size: 0.8em;
    color: var(--bs-gray);
    a {
      color: var(--bs-gray);
    }
  }
}